.mensagem{
    max-width: 80%;
    margin-top: 3rem;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 0;
}

.mensagem > div > div {
    width: 42px;
    font-size: 1rem;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    aspect-ratio: 1/1; 
}

@media (max-width: 360px){
    .mensagem > div > div {
        width: 28px;
    }
}

.mensagem > div > span {
    margin-left: .8rem;
    font-family: "Roboto";
    font-size: 1rem;
}

.mensagem > div{
    width: 100%;
    display: flex;
    align-items: center;
}

.mensagem > p {
    margin-top: 12px;
    display: inline-block;
    background-color: #F4F4F4;
    font-family: "Roboto";
    padding: 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4rem;
    border-radius: 8px;
}